*{
    margin: 0;
    padding: 0;

}

body{

    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 65%,
        rgba(243, 246, 89, 0.8) 65%, /* Adjusted transparency */
        rgba(243, 246, 89, 0.8) 100%
        
    );

    

}



#logo img{
    width: 224px;
    height: 170px;
}

nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 80px;
}

#pages{
    
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    align-items: center;
    padding: 10px;
}

button{
    
   
    padding: 10px;
    width: 100px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    
    cursor: pointer;
    text-align: center;
    background: inherit;
    border: none;
}